<div class="w-full min-h-screen p-4 flex flex-col justify-center items-center bg-gradient-to-b from-gray-100 via-gray-300 to-[#0d2339] gap-4">
    <app-navbar-main />

    <!-- Carrousel Imagenes -->
    <div class="w-full h-auto">
        <img src="assets/banner.jpg" alt="logo" class="bg-cover bg-center">
    </div>

    
    <!-- Crear Componente para esto -->
    <!-- Carrousel Imagenes -->
    <div class="w-full h-10 flex flex-row justify-start items-center gap-4 p-4">
        <div class="w-4  h-4 rounded-full border border-gray-200 bg-gray-200"></div>
        <div class="w-4  h-4 rounded-full border border-gray-200 bg-gray-200"></div>
        <div class="w-4  h-4 rounded-full border border-gray-200 bg-gray-200"></div>
        <div class="w-4  h-4 rounded-full border border-gray-200 bg-gray-200"></div>
        <div class="w-4  h-4 rounded-full border border-gray-200 bg-gray-200"></div>
    </div>
    
    <div class="w-full h-full">
        <app-store-main />
    </div>
    

    <router-outlet />

    <app-footer-main />
</div>
