<div class="fixed top-0 left-0 w-full h-auto z-50 ">
    <div class="w-full h-20 flex flex-row justify-between items-center p-4 backdrop-blur-xl bg-white/80 ">
    
        <!-- Navbar  -->
        <div class="w-1/2 h-full flex flex-row justify-start items-center gap-4">
            <!-- Logo -->
            <h1 class="text-2xl uppercase font-black leading-tight tracking-tight">
                <a href="/">
                    OroExpress
                </a>
            </h1> 
           
            <p class="text-[10px] uppercase font-black leading-tight tracking-tight hover:text-yellow-500 transition-all duration-500">
                <a href="/">
                    Inicio
                </a>
            </p>
   
            <p class="text-[10px] uppercase font-black leading-tight tracking-tight hover:text-yellow-500 transition-all duration-500">
                <a href="store">
                    Tienda
                </a>
            </p>
   
     
            <p class="text-[10px] uppercase font-black leading-tight tracking-tight hover:text-yellow-500 transition-all duration-500">
                <a href="/">
                    Financiamiento
                </a>
            </p>
          
            <p class="text-[10px] uppercase font-black leading-tight tracking-tight hover:text-yellow-500 transition-all duration-500">
                <a href="/">
                    Fabricaciones
                </a>
            </p>            

            <p class="text-[10px] uppercase font-black leading-tight tracking-tight hover:text-yellow-500 transition-all duration-500">
                <a href="/">
                    Preguntas Frecuentes
                </a>
            </p>
        </div>

        <!-- Shopping Icons -->
        <div class="w-1/2 h-full flex flex-row justify-end items-center">
            <button (click)="toggleSidebar()" class="p-2 hover:bg-blue-500 border hover:shadow-md hover:shadow-blue-500 hover:text-white hover:border-t hover:border-b hover:border-black transition-all duration-500">
                <p class="flex flex-row justify-center items-center">
                    <mat-icon>person</mat-icon>
                </p>
            </button>
            
            
        
            <button (click)="toggleSidebar()" class="p-2 hover:bg-blue-500 border-t border-b hover:shadow-md hover:shadow-blue-500 hover:text-white hover:border-t hover:border-b hover:border-black transition-all duration-500">
                <p class="flex flex-row justify-center items-center">
                    <mat-icon>shopping_cart</mat-icon>
                </p>
            </button>

            <button (click)="toggleSidebar()" class="p-2 hover:bg-blue-500 border hover:shadow-md hover:shadow-blue-500 hover:text-white hover:border hover:border-black  transition-all duration-500">
                <p class="flex flex-row justify-center items-center">
                    <mat-icon>menu</mat-icon>
                </p>
            </button>
        </div>
    </div>

    <!-- Sidebar Overlay and Container -->
    <div *ngIf="isSidebarOpen" class="fixed inset-0 z-50 trn">
        <!-- Dark overlay -->
        <div (click)="toggleSidebar()" class="w-1/2 h-full absolute inset-0 backdrop-blur-sm bg-black/40  transition-all duration-500">
        </div>
        
        <!-- Sidebar -->
        <div class="absolute top-0 right-0 h-full w-1/2   transform transition-all duration-500">
            <app-sidebar />
        </div>
    </div>

</div>